In [28]:
import pandas as pd 
import numpy as np
import seaborn as sb
from sklearn.model_selection import train_test_split
tts=train_test_split
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
rsc= r2_score
mse= mean_squared_error
mae= mean_absolute_error
url=r"C:\Users\akiny\Downloads\energydata_complete.csv"
df=pd.read_csv(url)
yy=df['Appliances']
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [29]:
#defining scoring function
def scm(mdl,X,y,err,rs,ts):
    xtr,xt,ytr,yt=tts(X,y,test_size=ts,random_state=rs)
    mdl.fit(xtr,ytr)
    pred=mdl.predict(xt)
    erro=err(yt,pred)
    return erro

In [30]:
x=df['T2']
y=df['T6']
dt=df.drop(columns=['date','lights'])

In [31]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
ndf=pd.DataFrame(mms.fit_transform(dt),columns=dt.columns)
scm(lr,ndf.drop(columns=['Appliances']),ndf['Appliances'],mae,42,0.3)

0.05013362397742955

In [32]:
#p.sqrt(mse(y_test,predict_value))
xtr,xt,ytr,yt=tts(ndf.drop(columns=['Appliances']),ndf['Appliances'],test_size=0.3,random_state=42)
lr.fit(xtr,ytr)
pred=lr.predict(xt)
np.sqrt(mse(yt,pred))

0.0875144494766171

In [33]:
scm(lr,ndf.drop(columns=['Appliances']),ndf['Appliances'],rsc,42,0.3)

0.14890246319303535

In [34]:
xtr,xt,ytr,yt=tts(ndf.drop(columns=['Appliances']),ndf['Appliances'],test_size=0.3,random_state=42)
lr.fit(xtr,ytr)
pred=lr.predict(xt)

In [35]:
lr.coef_

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [36]:
xtr.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [43]:
from sklearn.linear_model import Ridge
rm=Ridge(alpha=0.4)
rm.fit(xtr,ytr)

Ridge(alpha=0.4)

In [44]:
from sklearn.linear_model import Lasso
ls=Lasso(alpha=0.001)
ls.fit(xtr,ytr)

Lasso(alpha=0.001)

In [45]:
#counting none zero coefficient
ls.coef_

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

In [46]:
from sklearn.metrics import mean_squared_error
mse= mean_squared_error
pr=lr.predict(xt)
np.sqrt(mse(yt,pr))

0.0875144494766171

In [47]:
pr=ls.predict(xt)
np.sqrt(mse(yt,pr))

0.09358170467245137

In [48]:
pr=rm.predict(xt)
np.sqrt(mse(yt,pr))

0.08753385704627999